body{
    background-image: url(img/back.png);
    max-width: 100%;
}

.container{
    background-image: url(img/back.png);
    margin-bottom: 20px;
}

.start-img{
    max-width: 100%;
}

.img-fluid{
    padding-top: 20px;
}

.btn.btn-dark{
    background-color:#D65F5F;
    border: none;
    border-radius: 25px;
}

th{
    color: #FFF;
}
tr:nth-child(even)
{background-color: #2184C1}

th:nth-child(even){
    background-color: #2184C1; 
}
.collapse{
    padding-top: 10px;
}
thead:th{
    background-color: white;
    border: 0px;
}
.bold{
    color: #D65F5F;
}
.inkom{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
h1{
    position: absolute;
    text-align: center;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 38px;
    font-weight: thin;
    color: rgb(255, 216, 190);
    z-index:1;

}
.image h1{
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    align-content: center;
}
.footer{
    background-color: #D65F5F;
    padding-bottom: 5px;
    padding-top: 10px;
}
.footer h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
th{
    color: #FFF;
}
tr:nth-child(even)
{background-color: #2184C1}

th:nth-child(even){
    background-color: #2184C1; 
}
.collapse{
    padding-top: 10px;
}
thead:th{
    background-color: white;
    border: 0px;
}

.table th{
    background-color: none;
}
.table{
    border: solid 0px 10px 10px 10px;
    border-radius: 30px;
    border-color: #D65F5F;
}
.table thead tr th{
    background: none;
}


/* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
        body{
            background-color: #2184C1;
            }
        .container{
            background-color: #2184C1;
            
            }
        .image h1{
            position: absolute;
            font-size: 55px;
            top: 45%;
            left:0;
            right:0;
            bottom:0;
            height:200px;
            }

        .row{
            padding-bottom: 110px;
            padding-top: 140px;
        }

        .footer h2{
            font-size: 13px;
        }
        .wistjedat1{
            padding-bottom: 96px;
        }
        .wistjedat3{
            padding-bottom: 72px;
        }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }